<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574151659157-nkchtn66c7iv8nru6f1semcdco4nsr0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574151659157-nkchtn66c7iv8nru6f1semcdco4nsr0o</string>
	<key>API_KEY</key>
	<string>AIzaSyBON01W47Ts3juc83SIwYicU_jTcNZusbc</string>
	<key>GCM_SENDER_ID</key>
	<string>574151659157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aa.PTC-APP</string>
	<key>PROJECT_ID</key>
	<string>fir-demoptc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demoptc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574151659157:ios:177bc3e97c9ec3d18d159c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demoptc.firebaseio.com</string>
</dict>
</plist>